.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: auto;
  height: 8vh;
}

.bottom span {
  text-align: center;
  margin: auto;
  width: 100%;
}

*:not(mat-icon){
  font-family: "Paytone One";
  color: #383838;
}

