*:not(mat-icon){
  font-family: "Paytone One";
  color: #3f3f3f;
}

.background{
  min-height: 84vh;
  width: 100%;
}

.centralize{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.example-full-width{
  width: 100%;
}
.example-form-field {
  margin-right: 20px;
}

table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: auto;
}

.table-container{
  overflow-x: auto;
}


td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

th{
  font-weight: 900;
  font-size: 1em;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-header-cell {
  background: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
}

.valor-total{
  padding: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-items: center;
  overflow-x: auto;
}
.saldos{
  margin-left: 20px;
}

.positivo{
  color: rgb(14, 126, 29);
}

.negativo{
  color: rgb(126, 27, 14);
}

.zerado{
  color: rgb(73, 100, 126);
}

.filtro-card{
  margin-bottom: 9px;
  padding: 10px 20px 0 20px;
  background-color: white;
}

.empty-table{
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

.mat-column-idTransacao {
  width: 5%;
}

.mat-column-dados {
  width: 20%;
}

.mat-column-valor {
  width: 20%;
}

.mat-column-tipo {
  width: 20%;
}

.mat-column-nomeOperadorTransacionado {
  width: 30%;
}








